doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=10.0, user-scalable=yes")

    meta(name="description" , content="")
    meta(name="keywords"    , content="")
    meta(name="author"      , content="nekonenene")
    link(rel="shortcut icon", href="./img/favicon.ico")

    //- for Android SmartPhone
    meta(name="theme-color", content="#2b0de8")
    link(rel="icon", href="./img/favicon_192.png", sizes="192x192")

    - var title = "練習ページ";
    title #{title}

    // Font Awesome!
    link(rel="stylesheet", href="http://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    //- CSS
    link(rel="stylesheet", href="./top.css")

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    // Zepto : CDN 上になければローカルから読み込み
    script(src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.2.0/zepto.min.js")
    script.
      window.zepto || document.write('<script src="./js/plugins/zepto.js"><\/script>')

  body
    //- Facebook API は body タグのあとに書く
    script(src="./top.js")

    #site-box
      #site-main
        h3 #{title}
        #content
          p
            button.blue-button(type="button") あお
            button.green-button(type="button") みどり
            button.yellow-button(type="button") きいろ
            button.red-button(type="button") あか

          p
            .output

      #footer
        a(href="https://hato-neko.x0.com", target="_blank", title="ハトネコエセンター").
          ハトネコエ
