@charset "UTF-8";
/* フォント */
.gothic {
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "Helvetica Neue", Helvetica, Arial, Roboto, "Droid Sans", "游ゴシック", YuGothic, sans-serif; }

.mincho {
  font-family: "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "游明朝", YuMincho, "ＭＳ 明朝", "メイリオ", Meiryo, "Times New Roman", serif; }

/* 回り込み解除 */
.clear {
  clear: both;
  height: 0;
  font-size: 1px;
  line-height: 0;
  visibility: hidden; }

img {
  border: 0; }

button.blue-button {
  display: inline-block;
  height: 32px;
  margin: 8px 0;
  margin-right: 8px;
  padding: 0 25.6px;
  background: #1c50aa;
  color: #ffffff;
  border: 0;
  border-radius: 3px;
  box-shadow: none;
  -webkit-transition-property: background;
          transition-property: background;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  line-height: 32px;
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "Helvetica Neue", Helvetica, Arial, Roboto, "Droid Sans", "游ゴシック", YuGothic, sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  text-shadow: none;
  text-decoration: none; }
  button.blue-button:hover, button.blue-button:focus {
    background: #0a3754;
    cursor: pointer; }

button.green-button {
  display: inline-block;
  height: 32px;
  margin: 8px 0;
  margin-right: 8px;
  padding: 0 25.6px;
  background: #1faa1c;
  color: #ffffff;
  border: 0;
  border-radius: 3px;
  box-shadow: none;
  -webkit-transition-property: background;
          transition-property: background;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  line-height: 32px;
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "Helvetica Neue", Helvetica, Arial, Roboto, "Droid Sans", "游ゴシック", YuGothic, sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  text-shadow: none;
  text-decoration: none; }
  button.green-button:hover, button.green-button:focus {
    background: #1d7737;
    cursor: pointer; }

button.yellow-button {
  display: inline-block;
  height: 32px;
  margin: 8px 0;
  margin-right: 8px;
  padding: 0 25.6px;
  background: #d98310;
  color: #ffffff;
  border: 0;
  border-radius: 3px;
  box-shadow: none;
  -webkit-transition-property: background;
          transition-property: background;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  line-height: 32px;
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "Helvetica Neue", Helvetica, Arial, Roboto, "Droid Sans", "游ゴシック", YuGothic, sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  text-shadow: none;
  text-decoration: none; }
  button.yellow-button:hover, button.yellow-button:focus {
    background: #613d0d;
    cursor: pointer; }

button.red-button {
  display: inline-block;
  height: 32px;
  margin: 8px 0;
  margin-right: 8px;
  padding: 0 25.6px;
  background: #bf3434;
  color: #ffffff;
  border: 0;
  border-radius: 3px;
  box-shadow: none;
  -webkit-transition-property: background;
          transition-property: background;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  line-height: 32px;
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "Helvetica Neue", Helvetica, Arial, Roboto, "Droid Sans", "游ゴシック", YuGothic, sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  text-shadow: none;
  text-decoration: none; }
  button.red-button:hover, button.red-button:focus {
    background: #4b1717;
    cursor: pointer; }

body {
  margin: 0;
  padding: 0;
  color: #131c16;
  background-color: #f2faff;
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "Helvetica Neue", Helvetica, Arial, Roboto, "Droid Sans", "游ゴシック", YuGothic, sans-serif;
  font-size: 17px; }

p {
  margin: 8px 0;
  font-size: 100%;
  letter-spacing: 0.06em; }

/*----- サイトの全体レイアウト -----*/
#site-box {
  display: table;
  width: 90%;
  margin: 34px auto;
  padding: 0;
  background-color: #d1f4fa;
  border: 2px ridge #2c2d0b; }

#site-main {
  display: block;
  width: auto;
  margin: 0;
  padding: 10px 8px 90px; }

#footer {
  clear: both;
  width: auto;
  margin: 0;
  padding: 5px 15px 1px;
  background-color: #2f2761;
  color: #ffffff;
  text-align: right; }
  #footer a {
    padding: 2px;
    color: #ffffff; }

#content {
  margin: 10px 26px; }

.caution {
  margin-top: 10px;
  color: #7c061a;
  font-size: 82%;
  text-align: right;
  text-decoration: underline; }

h1, h2, h3, h4 {
  margin: 25px 0;
  padding: 0 26px;
  color: #ff6d1b;
  letter-spacing: 0.08em; }

h1 {
  font-size: 220%;
  border-bottom: dotted 6px; }

h2 {
  font-size: 150%;
  border-bottom: dotted 4px; }

h3 {
  font-size: 120%;
  border-bottom: double 2px; }

h4 {
  font-size: 105%;
  border-bottom: solid 1px; }

/*----- 以下、テキストの微変更用 -----*/
.small {
  font-size: 85%; }

.moresmall {
  font-size: 60%; }

.big {
  font-size: 120%; }

.morebig {
  font-size: 150%; }

.b {
  font-weight: bold; }

.u {
  text-decoration: underline; }

.torikesi {
  text-decoration: line-through; }

/*----- 以下、文字カラー指定用のCSS -----*/
.red {
  color: #ff0000; }

.navy {
  color: #191970; }

.orange {
  color: #ff4500; }

.green {
  color: #399003; }
